 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
$gutter:0em;
@import '../../bower_components/neat/app/assets/stylesheets/neat';

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}
// Custom Styles
body {
	font-family: $monospace;
	font-size: 100%;
}

.container {
	@include outer-container;
	width: 100%;
	margin: 0;
	max-width: 100%;
}

.background-image {
	background-image: url('http://i371.photobucket.com/albums/oo160/krrish_xhaun/stars.gif');
	background-repeat: repeat;
	width: 100%;
	height: 2000px;
}

.hidden {
  display: none !important;
}

.gameover{
	position:absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	background: #c0c0c0;
	z-index: 10;
	width: 25%;
	border: solid 5px black;
	@include border-radius(5px);
	text-align: center;
	padding: 20px;
	font-size: 2em;
	text-transform: uppercase;
}

.messages{
	@include span-columns(2);
	@include omega();
	height: 390px;
	position:absolute;
	right: 126px;
	top: 32px;
	background: #fff;
	z-index: 10;
	@include border-radius(5px);
	text-align: center;
	font-size: 2em;
	text-transform: uppercase;

	h2 {
		font-size: .75em;
		color: HSLA(70, 8%, 15%, 1);
		margin-top: 7px;
	}
}

.page-load {
	position: absolute;
	width: 80%;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	border: #c8c8c8 solid 5px;
	text-align: center;
	color: white;
	font-size: 2em;
	background: HSLA(0, 0%, 100%, .2);
	@include border-radius(5px);

	h2 {
		margin: 0;
	}

	input {
		background: #000;
		@include border-radius(5px);
		-webkit-appearance: none;
	    -moz-appearance: none;
	    appearance: none;
	    font-size: .75em;
	    text-align: center;
	    color: #fff;
	    padding: 10px;
	    margin: 10px 5px;
	}
}

.pick-characters {
	position: absolute;
	width: 80%;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	border: #c8c8c8 solid 5px;
	text-align: center;
	color: white;
	font-size: 2em;
	background: HSLA(0, 0%, 100%, .2);
	@include border-radius(5px);

	a {
		text-decoration: none;
		text-transform: uppercase;
		background: white;
		display: block;
		width: 25%;
		margin-left: 37.5%;
		margin-bottom: 10px;

		&:last-of-type {
			color: red;
		}
	}

	input,
	.dropdown {
		background: #000;
		@include border-radius(5px);
		-webkit-appearance: none;
	    -moz-appearance: none;
	    appearance: none;
	    font-size: .75em;
	    color: #fff;
	    padding: 10px;
	    margin: 10px 5px;
	    overflow: none;
	}
}

.show-character {
	@include span-columns(10);
	@include omega();
	position:fixed;
	left: 50%;
	top: 44%;
	transform: translate(-50%, -50%);
	background: transparent;
	text-align: center;
	font-size: 1.5em;
	padding: 50px;
	height: 500px;
	width: 80%;

	.good-character {
		@include span-columns(4);
		@include omega();
		left: 20%;
		top: 30%;
		transform: translate(-50%, -50%);
		background: blue;
		position: absolute;
		@include border-radius(5px);
		color: white;

		h1 {
			margin-top: 20px;
			font-size: 1.5em;
			text-transform: uppercase;

		}

		span {
			display:block;
			margin-bottom: 10px;
			font-size: 1em;

		}
	}

	.bad-character {
		@include span-columns(4);
		@include omega();
		left: 60%;
		top: 30%;
		transform: translate(-50%, -50%);
		position:absolute;
		background: red;
		@include border-radius(5px);


		h1 {
			margin-top: 20px;
			font-size: 1.5em;
			text-transform: uppercase;
		}

		span {
			display:block;
			margin-bottom: 10px;
			font-size: 1em;
		}
	}

	.info-bar {
		@include span-columns(12);
		@include omega();
		// position: relative;
		height:170px;
		background: HSLA(70, 8%, 15%, 1);
		left: 50%;
		top: 98%;
		transform: translate(-50%, -50%);
		position:fixed;
		margin-bottom: 50px;
		@include border-radius(5px);
		
		.attack {
			-webkit-appearance: none;
		    -moz-appearance: none;
		    appearance: none;
		    @include border-radius(500px);
		    color: white;
		    background: red;
			float:right;	
			margin: 5px;
		    height: 150px;
		    width: em(100px);
		    margin-top: 10px;
		}
	}
}
