 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
$gutter:0em;
@import '../../bower_components/neat/app/assets/stylesheets/neat';



@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}
// Custom Styles
body {
	font-family: $monospace;
	font-size: 100%;
}

.container {
	@include outer-container;
	width: 100%;
}

.hidden {
  display: none !important;
}

.gameover,
.messages {
	position:absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.pick-characters {
	position: absolute;
	width: 80%;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	outline: red solid 2px;
	text-align: center;
}

.show-character {
	@include span-columns(10);
	@include omega();
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	outline:red solid 2px;
}

.good-character {
	@include span-columns(6);
	@include omega();
	float:left;
	outline:red solid 2px;	

}

.bad-character {
	@include span-columns(6);
	@include omega();
	float:right;
	outline:red 2px solid;
}

.info-bar {
	@include span-columns(12);
	@include omega();

	.attack {
		-webkit-appearance: none;
	    -moz-appearance: none;
	    appearance: none;
	    @include border-radius(5px);
		float:right;	
		margin: 10px;
	    height: 50px;
	    width: 25%;
	}
}